body {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
  font-family: 'Indie Flower';
  background-image: url('https://purr.objects-us-west-1.dream.io/i/1246134916.jpg');
  background-size: 80vw;
  background-position-x: center;
  background-repeat: no-repeat;
  color: rgb(241, 166, 241);
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 4vw;
  text-shadow: 0.25vw 0.25vw black;
}
h2 {
  font-size: 3vw;
  text-shadow: 0.15vw 0.15vw black;
}
button {
  font-family: 'Indie Flower';
  font-size: 2vw;
}
img {
  max-width: 50vw;
  max-height: 50vw;
}
p {
  font-size: 3vw;
  text-shadow: 0.15vw 0.15vw black;
}
.hidden {
  display: none;
}
